body {
    margin: 0;
}

/*header  -   nav*/
header {
    padding: 0.1em 5em;
    background-color: #171819;
}

header h1 {
    font-size: 3em;
}

h1 a {
    color: #ffffff;
    text-decoration: none;
}

header a:hover,
footer a:hover {
    color: red;
    transition: all 1s;
}

header .container {
    width: 100%;
    margin: auto;
}

header .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


nav a {
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li:not(:first-child) {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
}


/*footer*/
footer section {
    height: 300px;
    background-image: url(../image/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
}

#footeroverlay {
    background: #171819;
    position: absolute;
    width: 100%;
    height: 300px;
    opacity: 0.50;
}

footer .container {
    padding-top: 30px;
    position: absolute;
    display: flex;
}

footer .content {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}

footer .content p {
    margin: 0;
    padding-top: 10px;
}


footer .details {
    display: flex;
    flex-direction: row;
}

footer .details p {
    padding-left: 10px;
}

footer .details img {
    padding-top: 10px;
}

#social_icon {
    display: inline-block;
    padding-top: 10px;
}

#social_icon img:not(:first-child) {
    margin-left: 7px;
}

footer h4 {
    margin: 0;
    padding-bottom: 3px;
    font-size: 1.2em;
    text-transform: uppercase;
}

#hours span {
    padding-top: 10px;
}

#copyright {
    background-color: #2b2c33;
    text-align: center;
    height: 60px;
}

#copyright p {
    margin: 0;
    padding-top: 20px;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer aside {
    float: right;
    font-style: italic;
    font-size: 16px;
    color: #c7c7c7;
    font-family: 'FontAwesome';
}
/*table*/
.table-tagline{
    color:#000;
     text-align: center;
     margin-top: 2rem;
 font-weight: 100;
   font-size: 1.7rem;
    position: relative;
  
  }
  .table-title{
        color:#000;
         text-align: center;   
        position: relative;
        margin-bottom: .5rem;
       font-size: 1.6rem;
        font-weight: 500;
    animation: mymove 2s ;
  }
  
  @keyframes mymove {
    from {bottom:  50px;}
    to {bottom: 0px;}
  }

.table{
    text-align: center;
    background-color: #000;
    color:white;
  margin :auto;
  margin-bottom: 1.5rem;
    border-collapse: collapse;
   
}
.table td,.table th{
    padding:20px;
    border:1px solid grey;
    text-align: center;
    font-size:16px;
  }
  .table th{
	background-color:red;
	color:#ffffff;
}
.time{
    background-color:red;
	color:#ffffff;
}
thead{
    padding: 1rem;
}
.table td span{
    display: block;
    color: gray;
}


@media (max-width: 768px) {
    header {
        padding: 0;
    }

    header h1 {
        margin: 0;
        padding-top: 5px;
    }

    header .container {
        text-align: center;
    }

    header .container-nav {
        flex-direction: column;
    }

    nav a {
        font-size: 1rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li:not(:first-child) {
        margin: 0.2em 0;
    }


    /*    footer*/
    footer section {
        height: 375px;
        background-position: center;
    }

    #footeroverlay {
        height: 375px;
    }

    footer .container {
        padding-top: 5px;
    }

    footer .details p {
        padding-left: 0px;
        margin: 1.2em 0 .05em 0;
    }

    #quotes {
        top: 222px;
        margin: 0;
        position: absolute;
    }

    #hours {
        padding-left: 95px;
    }
    .table thead{
        display: none;
    }
    
    .table, .table tbody, .table tr, .table td{
        display: block;
      
    }
    .table tr{
        margin-bottom:15px;
     
        
    }
    .table td{
        text-align: right;
       padding: 20px;
        text-align: right;
        position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left:0;
        width: 50%;
    
        font-size:15px;
        font-weight: bold;
        text-align: left;
    }
}
